.accordion {
  max-width: 600px;
  margin: 4rem auto;
  width: 200%;
  // font-family: "Raleway", sans-serif;
  font-family: $acc-font;
  background: $acc-content-backgroundColor;

  &__title {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    background: $acc-title-backgroundColor;
    color: $acc-title-fontColor;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: $acc-title-hover-backgroundColor;
    }
  }

  &__content {
    display: none;
    padding: 1rem 1.5rem 2rem 1.5rem;
    color: $acc-content-fontColor;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 500;
  }
}
